/* Custom color theme properties */
:root {
  --f7-theme-color: #0055d4;
  --f7-theme-color-rgb: 0, 85, 212;
  --f7-theme-color-shade: #0045ab;
  --f7-theme-color-tint: #0065fd;
}

/* Your app custom styles here */